/* mixin-----------------------------------------*/ /* Web font-----------------------------------------*/
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.m-plus-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* thin */
/* light */
/* medium */
/* Bold */
/*Extra */
/* Heavy */
/* Color palette-----------------------------------------*/
/* Base-----------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  background: #FFFDFA;
  font-size: 1.6rem;
  font-family: "roboto", "m-plus-1p";
  color: #707070;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 920px) {
  .l-container {
    display: grid;
    grid-template-rows: 217px 1fr 150px;
    grid-template-columns: 1fr 20%;
    box-sizing: border-box;
  }
}

@media (min-width: 920px) {
  .l-header {
    grid-row: 1;
    grid-column: 1/2;
  }
}

@media (min-width: 920px) {
  .l-main {
    grid-row: 2;
    grid-column: 1/2;
  }
}

@media (min-width: 920px) {
  .l-sidebar {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

@media (min-width: 920px) {
  .l-footer {
    grid-row: 3;
    grid-column: 1/3;
  }
}

@media (min-width: 920px) {
  .c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-header__btn {
  position: fixed;
  top: 0;
  right: 8px;
  z-index: 9999;
}
@media (min-width: 520px) {
  .c-header__btn {
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-header__btn {
    display: none;
  }
}

.c-header__btn.open {
  display: none;
}

.c-header__title {
  text-align: center;
}

.c-header__search {
  display: flex;
  justify-content: center;
}

@media (min-width: 520px) {
  .c-main {
    height: 100%;
    display: grid;
    grid-template-rows: 285px 1fr 415px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main {
    grid-template-rows: 530px 1fr 649px;
  }
}

.c-main__top {
  position: relative;
}
@media (min-width: 520px) {
  .c-main__top {
    grid-row: 1;
    grid-column: 1/3;
  }
}
.c-main__top__title {
  position: absolute;
  top: 122px;
  left: 25px;
}
@media (min-width: 520px) {
  .c-main__top__title {
    left: 86px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main__top__title {
    top: 234px;
  }
}

.c-main__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 520px) {
  .c-main__card {
    grid-row: 2;
    grid-columns: 1/3;
  }
}

.c-main__map {
  position: relative;
}
@media (min-width: 520px) {
  .c-main__map {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.c-main__map__bg {
  position: absolute;
}
.c-main__map__title {
  position: relative;
}
.c-main__map__separate {
  position: relative;
}
.c-main__map__content {
  position: relative;
}

.c-sidebar__bg {
  position: fixed;
  top: 0;
  right: -120%;
  transition: right 0.6s;
}
@media (min-width: 920px) {
  .c-sidebar__bg {
    position: static;
  }
}

.c-sidebar__bg.open {
  right: 0;
}

.c-sidebar {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 920px) {
  .c-sidebar {
    position: static;
  }
}

.c-sidebar__btn {
  position: absolute;
  top: 8px;
  right: 0;
}
@media (min-width: 520px) {
  .c-sidebar__btn {
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-sidebar__btn {
    display: none;
  }
}
.c-sidebar__btn__bar {
  position: absolute;
}

.c-sidebar__title {
  display: none;
}
@media (min-width: 920px) {
  .c-sidebar__title {
    display: block;
  }
}

.c-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.c-footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-header {
  height: 215px;
  background-color: #FFF7EF;
}
@media (min-width: 520px) {
  .p-header {
    height: 217px;
  }
}

.p-header__btn {
  font-size: 22px;
}
@media (min-width: 520px) {
  .p-header__btn {
    font-size: 30px;
  }
}

.p-header__title {
  padding-top: 35px;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 520px) {
  .p-header__title {
    padding-top: 40px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-header__title {
    padding: 0 0 0 4%;
    font-size: 60px;
  }
}

.c-header__search__box {
  height: 46px;
  border-radius: 10px;
  border: solid 1px #707070;
}

.p-header__search {
  padding-top: 30px;
}
@media (min-width: 920px) {
  .p-header__search {
    width: 35%;
  }
}
@media (min-width: 920px) {
  .p-header__search {
    padding: 0 2% 0 0;
  }
}
.p-header__search__box--input {
  width: 216px;
  margin-right: 12px;
  padding-left: 35px;
  background-color: #FFFFFF;
  background-image: url("../../../images/header_icon_serch.png");
  background-position: 5px center;
}
@media (min-width: 520px) {
  .p-header__search__box--input {
    width: 396px;
    margin-right: 14px;
    padding-left: 42px;
    background-position: 12px center;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-header__search__box--input {
    width: 72.5%;
  }
}
.p-header__search__box--submit {
  width: 90px;
  background: linear-gradient(180deg, #F2EDE9, #DED8D3);
  color: #707070;
  font-weight: 700;
}
@media (min-width: 520px) {
  .p-header__search__box--submit {
    width: 136px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-header__search__box--submit {
    width: 25%;
  }
}

.p-main__top {
  width: 100%;
  height: 285px;
  background-image: url(../../../images/main_title_bg.jpg);
  background-size: cover;
}
@media (min-width: 520px) {
  .p-main__top {
    background-position: center;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__top {
    height: 530px;
  }
}
.p-main__top__title {
  color: #FFFFFF;
  font-size: 40px;
}

.c-main__card {
  margin: 20px;
  height: 642px;
  background-size: cover;
  background-position: top center;
}
@media (min-width: 520px) {
  .c-main__card {
    margin: 40px;
    height: 681px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main__card {
    height: 1197px;
    width: 80%;
    margin: 19% auto 21% auto;
  }
}
.c-main__card__title {
  color: #EAEAEA;
  font-size: 40px;
  margin-top: 13px;
  margin-left: 15px;
}
@media (min-width: 520px) {
  .c-main__card__title {
    margin-top: 14px;
    margin-left: 11px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main__card__title {
    font-size: 65px;
    margin-top: 28px;
    margin-left: 14px;
  }
}
.c-main__card__separate {
  height: 5px;
  width: 35px;
  margin-left: 16px;
  background-color: #FFFFFF;
}
@media (min-width: 520px) {
  .c-main__card__separate {
    margin-top: 10px;
    margin-left: 11px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main__card__separate {
    margin-top: 20px;
    margin-left: 17.5px;
    width: 63px;
  }
}
.c-main__card__sabcard {
  height: 156px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 16px;
  color: #3C2A10;
}
@media (min-width: 520px) {
  .c-main__card__sabcard {
    height: 154px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-main__card__sabcard {
    height: 161px;
  }
}
.c-main__card__sabcard__title {
  font-size: 25px;
  margin-top: 16px;
  margin-left: 16px;
}
.c-main__card__sabcard__content {
  font-size: 17px;
  margin-left: 16px;
}
@media (min-width: 520px) {
  .c-main__card__sabcard__content {
    margin: 16px;
    line-height: 21px;
  }
}

.p-main__card--first {
  background-image: url(../../../images/main_card_1.jpg);
}
@media (min-width: 520px) {
  .p-main__card--first {
    margin-right: 20.5px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__card--first {
    margin-right: 6.5%;
  }
}

.p-main__card--second {
  background-image: url(../../../images/main_card_2.jpg);
}
@media (min-width: 520px) {
  .p-main__card--second {
    margin-left: 20.5px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__card--second {
    margin-left: 6.5%;
  }
}

.c-main__map__bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.p-main__map {
  height: 691px;
  background-image: url(../../../images/main_map.jpg);
  background-size: cover;
}
@media (min-width: 520px) {
  .p-main__map {
    height: 415px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__map {
    height: 649px;
  }
}
.p-main__map__bg--light {
  height: 691px;
}
@media (min-width: 520px) {
  .p-main__map__bg--light {
    height: 415px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__map__bg--light {
    height: 649px;
  }
}
.p-main__map__bg--dark {
  height: 415px;
}
@media (min-width: 920px) {
  .p-main__map__bg--dark {
    height: 649px;
    width: 61%;
  }
}
.p-main__map__title {
  padding-top: 42px;
  padding-left: 42px;
  color: #FFFFFF;
  font-size: 30px;
}
@media (min-width: 920px) {
  .p-main__map__title {
    padding-top: 86px;
    padding-left: 119px;
  }
}
.p-main__map__separate {
  height: 2px;
  width: 75px;
  margin-top: 6px;
  margin-left: 42px;
  background-color: #FFFFFF;
}
@media (min-width: 520px) {
  .p-main__map__separate {
    margin-top: 15px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__map__separate {
    margin-top: 50px;
    margin-left: 119.5px;
  }
}
.p-main__map__content {
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}
@media (min-width: 520px) {
  .p-main__map__content {
    line-height: 36px;
    font-weight: 300;
    padding: 14px 29px 40px 42px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-main__map__content {
    width: 61%;
    padding-top: 58.5px;
    padding-left: 119px;
  }
}

.p-sidebar__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.p-sidebar {
  width: 281px;
  height: 100%;
  background-color: #F2EDE9;
}
@media (min-width: 520px) {
  .p-sidebar {
    width: 367px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-sidebar {
    width: 100%;
  }
}

.c-sidebar__btn__bar {
  height: 40px;
  width: 5px;
  background-color: #707070;
}

.p-sidebar__btn {
  height: 40px;
  width: 30px;
}
.p-sidebar__btn__bar--first {
  transform: rotate(45deg);
}
.p-sidebar__btn__bar--second {
  transform: rotate(-45deg);
}

@media (min-width: 920px) {
  .p-sidebar__title {
    font-size: 30px;
    padding-top: 84px;
    padding-left: 12.5%;
  }
}

.c-sidebar__container__unit {
  font-size: 20px;
  margin-top: 60px;
  margin-left: 46px;
}
@media (min-width: 520px) {
  .c-sidebar__container__unit {
    margin-top: 48px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-sidebar__container__unit {
    margin-left: 12.5%;
  }
}
.c-sidebar__container__unit__list {
  margin-top: 20px;
  margin-left: 20px;
}
@media (min-width: 520px) {
  .c-sidebar__container__unit__list {
    margin-top: 32px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-sidebar__container__unit__list {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 7%;
  }
}
@media (min-width: 920px) {
  .c-sidebar__container__unit__list:first-of-type {
    margin-top: 32px;
  }
}

.p-sidebar__container {
  width: 100%;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 1400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 520px) {
  .p-sidebar__container {
    padding-top: 130px;
    padding-bottom: 558px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-sidebar__container {
    padding-top: 42px;
    padding-bottom: 0;
  }
}

.p-footer {
  height: 150px;
  background-image: url(../../../images/footer_bg.jpg);
  background-size: cover;
}

.c-footer__container__link {
  color: #FFFFFF;
  margin-top: 16px;
  font-size: 20px;
}
@media (min-width: 520px) {
  .c-footer__container__link {
    margin-top: 30px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .c-footer__container__link {
    margin-top: 41px;
  }
}

.p-footer__container__separate {
  margin: 25px 10px 0 10px;
  height: 20px;
  width: 1.5px;
  background-color: #FFFFFF;
}
@media (min-width: 520px) {
  .p-footer__container__separate {
    margin-top: 38px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-footer__container__separate {
    margin-top: 49px;
  }
}

.p-footer__copyright {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}
@media (min-width: 520px) {
  .p-footer__copyright {
    margin-bottom: 24px;
  }
}
@media (min-width: 520px) and (min-width: 920px) {
  .p-footer__copyright {
    margin-bottom: 27px;
  }
}

/*Foundaion
====================================================*/
/*Layout
====================================================*/
/*Object
====================================================*/
/*component-----------------------------------------*/
/*project-------------------------------------------*/
/*# sourceMappingURL=style.css.map */