@use "../../foundation/foundation" as f;

//btn--close
.c-header__btn{
    position: fixed;
    top: 0;
    right: 8px;
    z-index: 9999;

    @include f.breakpoint(tablet) {
        top: 20px;
        right: 25px;

        @include f.breakpoint(pc) {
            display: none;
        }
    }
}

//btn--open
.c-header__btn.open{
    display: none;
}