@use "../../foundation/foundation" as f;

.c-header__search{
    &__box{
        height: 46px;
        border-radius: 10px;    
        border: solid 1px f.$TextGray;
    }
}

.p-header__search{
    padding-top: 30px;

    &__box--input{
        width: 216px;
        margin-right: 12px;
        padding-left: 35px;
        background-color: f.$White;
        background-image: url("../../../images/header_icon_serch.png");
        background-position: 5px center;

        @include f.breakpoint(tablet) {
            width: 396px;
            margin-right: 14px;
            padding-left: 42px;
            background-position: 12px center;
        }
    }

    &__box--submit{
        width: 90px;
        background: linear-gradient(180deg,f.$DarkBeige,f.$Gray);
        color: f.$TextGray;
        font-weight: f.$bold;

        @include f.breakpoint(tablet) {
            width: 136px;
        }
    }
}